.question-link:visited {
  color: #ffffff;
}

a, .buttons {
  cursor: pointer;
  text-decoration: underline;
}

a:link {
  color: #61bff9;
}

a:visited, .buttons {
  color: #466995;
}

a:hover, .buttons:hover { 
  text-decoration: none;
}

a:active, .buttons:active {
  color: #DBE9EE;
}

#result, .buttons{
  border: 1px solid #466995;
  border-radius: 10px;
  box-shadow: 0px 4px;
}

.buttons:active{
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px;
  background-color: #C0D6DF;
  color: #fff;
}

#container, #cardNo{
    width: 80%;
    margin: auto auto;
}

li{
    list-style-type: none;
}

/* Balance sheet styles */
.balance-sheet-table {
            margin-top: 20px;
        }
.balance-sheet-table th, .balance-sheet-table td {
          padding: 8px;
          text-align: left;
        }

#resetButton{
  background-color: rgb(230, 0, 0);
  border-radius: 10px;
}
